body {
    font-family: Tahoma,Sans-Serif;
    color: #666666;
    background-color: white;
}

a {
    color: ff9900;
}

.login {
    text-align:center;
    margin-top:100px;
}

.divider  {
    border: 1px solid #ff9900;
    background-color: #ff9900;
    border-radius: 5px;
    height: 40px;
    margin: 10px;
}

.menu {
    float: left;
    width: 25%;
    margin-right: 8px;
    min-height: 300px;
    margin-left: 10px;
    border: 1px solid #fccb2c;
    border-radius: 5px;
    background-color: #fccb2c;
    padding: 8px;
}

.menu a {
    color: #666666;
}

.content {
    width: 70%;
    float: right;
}

.tangerine_table {
    border-collapse:collapse;
    border-spacing:0;
}

.tangerine_table td, th {
    padding: 8px;
    border: 1px solid #ff9900;
}

.tangerine_table th {
    background-color: #fccb2c;
    color: #303030;
    font-weight: normal;
}
